#mainDiv{
    position:fixed;
    right:0px;
    top:30px;
    background-color:black;
}

.linkStyle{
    font-size: 15px;
    margin-right:10px;
    color:black;
    background-color:#ced3ec;
    border:1px;
    border-radius:7px;
    padding:3px;
    font-weight:bold;
    text-decoration:none;
}